[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
certifi = "*"
charset-normalizer = "*"
click = "*"
colorama = "*"
idna = "*"
importlib-metadata = "*"
itsdangerous = "*"
numpy = "*"
python-dotenv = "*"
requests = "*"
typing-extensions = "*"
urllib3 = "*"
zipp = "*"
azure-functions = "*"
flask = "*"
werkzeug = "*"
pillow = "*"
markupsafe = "*"
jinja2 = "*"

[dev-packages]

[requires]
python_version = "3.9"
